/venv/

*.log
*.tmp

__pycache__/

.idea/

/Data/
/models/gangwon/
/models/jeju/
/models/jeolla/
/models/model03/
/src/stt/gangwon_model/
/src/stt/gsang_model/
/src/stt/jeju_model/
/src/stt/jeolla_model/
